<app-navbar></app-navbar>

<div
  [ngClass]="
    errorText != null
      ? 'visually d-flex justify-content-center mt-7'
      : 'visually-hidden'
  "
>
  <span class="errorText">{{ errorText }}</span>
</div>

<div class="container">
  <form novalidate (ngSubmit)="updateLesson(f)" #f="ngForm">
    <fieldset ngModelGroup="name">
      <div class="form-group">
        <label>Name</label>
        <input
          type="text"
          class="form-control"
          name="name"
          [(ngModel)]="lesson.name"
          required
          #name="ngModel"
        />
        <label>Dərsin Kredit sayı</label>
        <input
          type="number"
          class="form-control"
          name="creditCount"
          [(ngModel)]="lesson.creditCount"
          required
          #name="ngModel"
        />
        <label>Dərsin saatı</label>
        <input
          type="number"
          class="form-control"
          name="duration"
          [(ngModel)]="lesson.duration"
          required
          #name="ngModel"
        />
      </div>
    </fieldset>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
