<app-navbar></app-navbar>
<div class="container mt-5">
  <div class="row row-cols-1 row-cols-md-5 g-8">
    <div class="col">
      <div class="card">
        <a routerLink="/genders">
          <div class="card-body fa-icon">
            <fa-icon [icon]="faVenusMars"></fa-icon>
            <h5 class="card-title">Gender</h5>
          </div>
        </a>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <a routerLink="/locations">
          <div class="card-body fa-icon">
            <fa-icon [icon]="faLocation"></fa-icon>
            <h5 class="card-title">Location</h5>
          </div>
        </a>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <a routerLink="/department">
          <div class="card-body fa-icon">
            <fa-icon [icon]="faBuildingColumns"></fa-icon>
            <h5 class="card-title">Department</h5>
          </div>
        </a>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <a routerLink="/majors">
          <div class="card-body fa-icon">
            <fa-icon [icon]="faBook"></fa-icon>
            <h5 class="card-title">Ixtisaslar</h5>
          </div>
        </a>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <a routerLink="/rooms">
          <div class="card-body fa-icon">
            <fa-icon [icon]="faChalkboard"></fa-icon>
            <h5 class="card-title">Otaq</h5>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-5 g-8 mt-4">
    <div class="col">
      <div class="card">
        <a routerLink="/roomTypes">
          <div class="card-body fa-icon">
            <fa-icon [icon]="faAtom"></fa-icon>
            <h5 class="card-title">Dərs Tipi</h5>
            <h5 class="card-title"></h5>
          </div>
        </a>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <a routerLink="/positions">
          <div class="card-body fa-icon">
            <fa-icon [icon]="faUserPlus"></fa-icon>
            <h5 class="card-title">Position</h5>
            <h5 class="card-title"></h5>
          </div>
        </a>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <a routerLink="/degrees">
          <div class="card-body fa-icon">
            <fa-icon [icon]="faUserGraduate"></fa-icon>
            <h5 class="card-title">Elmi dərəcə</h5>
            <h5 class="card-title">Təhsil pilləsi</h5>
          </div>
        </a>
      </div>
    </div>

  </div>
</div>
