<app-navbar></app-navbar>
<div class="container mt-5">
  <div class="row row-cols-1 row-cols-md-5 g-8">

    <div class="col">
      <div class="card">
        <a routerLink="/genders">
          <div class="card-body fa-icon">
            <fa-icon [icon]="faVenusMars"></fa-icon>
            <h5 class="card-title">Gender</h5>
          </div>
        </a>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <a routerLink="/locations">
          <div class="card-body fa-icon">
            <fa-icon [icon]="faLocation"></fa-icon>
            <h5 class="card-title">Location</h5>
          </div>
        </a>
      </div>
    </div>

  <div class="col">
      <div class="card">
        <a routerLink="/department">
          <div class="card-body fa-icon">
            <fa-icon [icon]="faBuildingColumns"></fa-icon>
            <h5 class="card-title">Department</h5>
          </div>
        </a>
      </div>
    </div>


   </div>
</div>
