<app-navbar></app-navbar>
<div class="container mt-5">
      <button type="button" class="btn btn-success me-3" routerLink="/genderCreate">Create</button>
<table class="table ">
  <caption>List of users</caption>
  <thead>
    <tr>
      <th scope="col">Gender Name</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody >
    <tr >
      <td>Otto</td>
      <td >
      <button type="button" class="btn btn-primary me-3" routerLink="/genderEdit">Edit</button>
      <button type="button" class="btn btn-danger me-3" routerLink="/genderDelete">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
</div>