<app-navbar></app-navbar>
<div class="container">
  <form novalidate (ngSubmit)="updateLocation(f)" #f="ngForm">
    <fieldset ngModelGroup="name">
      <div class="form-group">
        <label>Name</label>
        <input
          type="text"
          class="form-control"
          name="name"
          [(ngModel)]="location.name"
          required
          #name="ngModel"
        />
        
        <div class="form-control-feedback"></div>
      </div>
    </fieldset>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
