<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-lg bg-lg">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->

  <!--  <a href="#"><i class="fa-solid fa-house fa-3x" aria-hidden="true"></i></a> -->
<fa-icon [icon]="faSchool" routerLink="/"></fa-icon>
    <!-- Collapsible wrapper -->
    <div>
      <div class="d-flex align-items-center">
        <button type="button" class="btn btn-primary me-3" routerLink="/login">Login</button>
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
