<div class="container mt-5">
  <div class="row row-cols-1 row-cols-md-5 g-8">
  
    <div class="col">
      <div class="card">
        <div class="card-body fa-icon">
        <fa-icon [icon]="faBook"></fa-icon>
          <h5 class="card-title">Kafedra</h5>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-body fa-icon">
        <fa-icon [icon]="faUserGraduate"></fa-icon>
          <h5 class="card-title">Tələbələr</h5>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-body fa-icon">
        <fa-icon [icon]="faPerson"></fa-icon>
          <h5 class="card-title">İşçilər</h5>
        </div>
      </div>
    </div>
  </div>
</div>
